In [7]:
from pyspark.sql import SparkSession
from pyspark.sql import types

In [8]:
spark = SparkSession.builder\
    .master("local[*]")\
        .appName('Test')\
            .getOrCreate()

your 131072x1 screen size is bogus. expect trouble

24/02/19 23:23:25 WARN Utils: Your hostname, DESKTOP-SLEQT56 resolves to a loopback address: 127.0.1.1; using 172.25.13.138 instead (on interface eth0)
24/02/19 23:23:25 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/19 23:23:30 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/02/19 23:23:34 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

```
Leemos todos los archivos de una vez.
Como la estructura es anidada YEAR/MES hacemos */*/
```

In [9]:
df_green = spark.read.parquet('../data/raw/green/*/*/')
df_yellow = spark.read.parquet('../data/raw/yellow/*/*/')

In [10]:
mis_columns = {'green': df_green.columns, 'yellow': df_yellow.columns}
print(mis_columns)

{'green': ['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge', 'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'], 'yellow': ['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge', 'airport_fee']}

No todas las columnas de DataSet estÃ¡n compartidas, buscamos las comunes.

In [11]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

Unificamos algunas columnas

In [14]:
df_green = df_green.withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime')\
    .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')
    
df_yellow = df_yellow.withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime')\
    .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

Volvemos a Ejecutar la comparacion de columnas, ahora vemos Drop_off y pickup

In [15]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

Vemos que el orden no es el original, hacemos un artilugio

In [16]:
var_columns = df_yellow.columns
common_cols = []

for col in df_green.columns:
    if col in var_columns:
        common_cols.append(col)
        
print(common_cols)

['VendorID', 'pickup_datetime', 'dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'payment_type', 'congestion_surcharge']

Ahora queremos seleccionar estas columnas de ambos DataFrames y agregamos una columna que indique a que DataSet pertenece cada registro

In [17]:
from pyspark.sql import functions as F

In [19]:
df_green_select = df_green.select(common_cols)\
    .withColumn('service_type', F.lit('green'))
    
df_yellow_select = df_yellow.select(common_cols)\
    .withColumn('service_type', F.lit('yellow'))

Unimos los dos DataFrames y calulamos los totales

In [20]:
df_trips_data = df_green_select.unionAll(df_yellow_select)

In [21]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

Ahora usamos SQL para ver los datos

In [22]:
df_trips_data.createOrReplaceTempView('trips_data')

In [23]:
spark.sql("""
          SELECT service_type, count(*) FROM trips_data 
          group by service_type
          """).show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

In [24]:
df_reporte = spark.sql("""
        SELECT 
        PULocationID AS reveneue_zone,
        service_type,
        
        -- Reveneue Calculation
        sum(fare_amount) as reveneue_monthly_fare,
        SUM(extra) as reveneue_monthly_extra
        
        from trips_data
        GROUP BY reveneue_zone, service_type
        order by reveneue_zone
                      """)

In [26]:
!mkdir '../data/reporte/'

In [27]:
df_reporte.coalesce(1).write.parquet("../data/reporte/mi_reporte", mode='overwrite')

In [28]:
mi_reporte = spark.read.parquet("../data/reporte/*")
mi_reporte.show()

+-------------+------------+---------------------+----------------------+
|reveneue_zone|service_type|reveneue_monthly_fare|reveneue_monthly_extra|
+-------------+------------+---------------------+----------------------+
|            1|       green|              3678.64|                   3.0|
|            1|      yellow|    400740.0900000001|    173.10000000000002|
|            2|       green|               212.66|                 14.25|
|            2|      yellow|              1753.83|                 23.75|
|            3|       green|   110828.77000000005|     5985.719999999999|
|            3|      yellow|   108866.59000000004|               4104.99|
|            4|       green|    20052.40999999998|               1134.55|
|            4|      yellow|   1049507.1299999913|     74716.56000000001|
|            5|       green|             14185.01|                137.25|
|            5|      yellow|             16786.27|                 70.75|
|            6|       green|              5624.18|                 28.75|
|            6|      yellow|    8027.520000000001|                 68.25|
|            7|       green|    855630.3200000048|     32668.82999999999|
|            7|      yellow|    878791.2699999973|              33270.65|
|            8|       green|              2115.57|                 50.25|
|            8|      yellow|             17482.49|                 360.0|
|            9|       green|    61205.97000000026|    3308.2999999999997|
|            9|      yellow|    80733.41000000025|    3797.2999999999997|
|           10|       green|   220527.35000000094|     9462.499999999996|
|           10|      yellow|    834648.7199999996|    24500.649999999998|
+-------------+------------+---------------------+----------------------+
only showing top 20 rows

Joins

Vamos a hacer un Join entre LAs zona o localidades y el Ãºltimo totalizador que creamos.

In [5]:

!wget  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv -P ../data/zonas/taxi_zone_lookup.csv

--2024-02-19 23:22:10--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.201.28.151
Connecting to github.com (github.com)|20.201.28.151|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240220%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240220T022039Z&X-Amz-Expires=300&X-Amz-Signature=4a7362aa9e2868da730f97bbec8f456b85c75cdb82e29106f6ab6a4e88f4d59f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-02-19 23:22:11--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240220%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240220T022039Z&X-Amz-Expires=300&X-Amz-Signature=4a7362aa9e2868da730f97bbec8f456b85c75cdb82e29106f6ab6a4e88f4d59f&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: â../data/zonas/taxi_zone_lookup.csv/taxi_zone_lookup.csvâ

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2024-02-19 23:22:11 (9.94 MB/s) - â../data/zonas/taxi_zone_lookup.csv/taxi_zone_lookup.csvâ saved [12322/12322]

In [ ]:
df_zonas = spark.read.option("header","true").csv("../data/zonas/*")
df_zonas.head()

TypeError: DataFrameReader.options() takes 1 positional argument but 3 were given