In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import types

In [2]:
spark = SparkSession.builder\
    .master("local[*]")\
        .appName('Test')\
            .getOrCreate()

your 131072x1 screen size is bogus. expect trouble

24/02/20 12:39:18 WARN Utils: Your hostname, DESKTOP-SLEQT56 resolves to a loopback address: 127.0.1.1; using 172.25.13.138 instead (on interface eth0)
24/02/20 12:39:18 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/20 12:39:20 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

```
Leemos todos los archivos de una vez.
Como la estructura es anidada YEAR/MES hacemos */*/
```

In [3]:
df_green = spark.read.parquet('../data/raw/green/*/*/')
df_yellow = spark.read.parquet('../data/raw/yellow/*/*/')

In [5]:
mis_columns = {'green': df_green.columns, 'yellow': df_yellow.columns}
print(mis_columns)

{'green': ['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge', 'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge'], 'yellow': ['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime', 'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'congestion_surcharge', 'airport_fee']}

No todas las columnas de DataSet estÃ¡n compartidas, buscamos las comunes.

In [6]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

Unificamos algunas columnas

In [7]:
df_green = df_green.withColumnRenamed('lpep_pickup_datetime', 'pickup_datetime')\
    .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')
    
df_yellow = df_yellow.withColumnRenamed('tpep_pickup_datetime', 'pickup_datetime')\
    .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

Volvemos a Ejecutar la comparacion de columnas, ahora vemos Drop_off y pickup

In [8]:
set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

Vemos que el orden no es el original, hacemos un artilugio

In [9]:
var_columns = df_yellow.columns
common_cols = []

for col in df_green.columns:
    if col in var_columns:
        common_cols.append(col)
        
print(common_cols)

['VendorID', 'pickup_datetime', 'dropoff_datetime', 'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID', 'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount', 'payment_type', 'congestion_surcharge']

Ahora queremos seleccionar estas columnas de ambos DataFrames y agregamos una columna que indique a que DataSet pertenece cada registro

In [10]:
from pyspark.sql import functions as F

In [11]:
df_green_select = df_green.select(common_cols)\
    .withColumn('service_type', F.lit('green'))
    
df_yellow_select = df_yellow.select(common_cols)\
    .withColumn('service_type', F.lit('yellow'))

Unimos los dos DataFrames y calulamos los totales

In [12]:
df_trips_data = df_green_select.unionAll(df_yellow_select)

In [13]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

Ahora usamos SQL para ver los datos

In [14]:
df_trips_data.createOrReplaceTempView('trips_data')

In [15]:
spark.sql("""
          SELECT service_type, count(*) FROM trips_data 
          group by service_type
          """).show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2802931|
|      yellow|55553400|
+------------+--------+

In [16]:
df_reporte = spark.sql("""
        SELECT 
        PULocationID AS reveneue_zone,
        service_type,
        
        -- Reveneue Calculation
        sum(fare_amount) as reveneue_monthly_fare,
        SUM(extra) as reveneue_monthly_extra
        
        from trips_data
        GROUP BY reveneue_zone, service_type
        order by reveneue_zone
                      """)

In [17]:
!mkdir '../data/reporte/'

mkdir: cannot create directory â../data/reporte/â: File exists

In [18]:
df_reporte.coalesce(1).write.parquet("../data/reporte/mi_reporte", mode='overwrite')

In [19]:
mi_reporte = spark.read.parquet("../data/reporte/*")
mi_reporte.show()

+-------------+------------+---------------------+----------------------+
|reveneue_zone|service_type|reveneue_monthly_fare|reveneue_monthly_extra|
+-------------+------------+---------------------+----------------------+
|            1|       green|              3678.64|                   3.0|
|            1|      yellow|    400740.0900000001|    173.10000000000002|
|            2|       green|               212.66|                 14.25|
|            2|      yellow|              1753.83|                 23.75|
|            3|       green|   110828.77000000005|     5985.719999999999|
|            3|      yellow|   108866.59000000004|               4104.99|
|            4|       green|    20052.40999999998|               1134.55|
|            4|      yellow|   1049507.1299999913|     74716.56000000001|
|            5|       green|             14185.01|                137.25|
|            5|      yellow|             16786.27|                 70.75|
|            6|       green|              5624.18|                 28.75|
|            6|      yellow|    8027.520000000001|                 68.25|
|            7|       green|    855630.3200000048|     32668.82999999999|
|            7|      yellow|    878791.2699999973|              33270.65|
|            8|       green|              2115.57|                 50.25|
|            8|      yellow|             17482.49|                 360.0|
|            9|       green|    61205.97000000026|    3308.2999999999997|
|            9|      yellow|    80733.41000000025|    3797.2999999999997|
|           10|       green|   220527.35000000094|     9462.499999999996|
|           10|      yellow|    834648.7199999996|    24500.649999999998|
+-------------+------------+---------------------+----------------------+
only showing top 20 rows

Joins

Vamos a hacer un Join entre LAs zona o localidades y el Ãºltimo totalizador que creamos.

In [20]:

!wget  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv -P ../data/zonas/taxi_zone_lookup.csv

--2024-02-20 12:40:31--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.201.28.151
Connecting to github.com (github.com)|20.201.28.151|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240220%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240220T154033Z&X-Amz-Expires=300&X-Amz-Signature=44fae192390de55cc4b30cd0682b04b1e6578e04f606f261611f61b3e910353d&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2024-02-20 12:40:32--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240220%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240220T154033Z&X-Amz-Expires=300&X-Amz-Signature=44fae192390de55cc4b30cd0682b04b1e6578e04f606f261611f61b3e910353d&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: â../data/zonas/taxi_zone_lookup.csv/taxi_zone_lookup.csv.1â

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.001s

2024-02-20 12:40:33 (7.95 MB/s) - â../data/zonas/taxi_zone_lookup.csv/taxi_zone_lookup.csv.1â saved [12322/12322]

In [23]:
df_zonas = spark.read.option("header","true").csv("../data/zonas/taxi_zone_lookup.csv")
df_zonas.head(5)

[Row(LocationID='1', Borough='EWR', Zone='Newark Airport', service_zone='EWR'),
 Row(LocationID='2', Borough='Queens', Zone='Jamaica Bay', service_zone='Boro Zone'),
 Row(LocationID='3', Borough='Bronx', Zone='Allerton/Pelham Gardens', service_zone='Boro Zone'),
 Row(LocationID='4', Borough='Manhattan', Zone='Alphabet City', service_zone='Yellow Zone'),
 Row(LocationID='5', Borough='Staten Island', Zone='Arden Heights', service_zone='Boro Zone')]

In [28]:
df_zonas.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [29]:
df_reporte.columns

['reveneue_zone',
 'service_type',
 'reveneue_monthly_fare',
 'reveneue_monthly_extra']

In [40]:
mi_reporte.join(df_zonas, mi_reporte.reveneue_zone == df_zonas.LocationID)\
    .select(mi_reporte['reveneue_zone'],mi_reporte['reveneue_monthly_fare'], df_zonas['Zone']).show()

+-------------+---------------------+--------------------+
|reveneue_zone|reveneue_monthly_fare|                Zone|
+-------------+---------------------+--------------------+
|            1|    400740.0900000001|      Newark Airport|
|            1|              3678.64|      Newark Airport|
|            2|              1753.83|         Jamaica Bay|
|            2|               212.66|         Jamaica Bay|
|            3|   108866.59000000004|Allerton/Pelham G...|
|            3|   110828.77000000005|Allerton/Pelham G...|
|            4|   1049507.1299999913|       Alphabet City|
|            4|    20052.40999999998|       Alphabet City|
|            5|             16786.27|       Arden Heights|
|            5|             14185.01|       Arden Heights|
|            6|    8027.520000000001|Arrochar/Fort Wad...|
|            6|              5624.18|Arrochar/Fort Wad...|
|            7|    878791.2699999973|             Astoria|
|            7|    855630.3200000048|             Astoria|
|            8|             17482.49|        Astoria Park|
|            8|              2115.57|        Astoria Park|
|            9|    80733.41000000025|          Auburndale|
|            9|    61205.97000000026|          Auburndale|
|           10|    834648.7199999996|        Baisley Park|
|           10|   220527.35000000094|        Baisley Park|
+-------------+---------------------+--------------------+
only showing top 20 rows

#### EJemplo de .Join con mas datos

Hacemos un Join de los df_green y df_yellow para obtener las zonas, horarios y reveneue

In [84]:
df_green_reveneu = spark.sql("""select 
                             PULocationID as LocationID,
                             date_trunc('day', pickup_datetime) as TimeID,
                             sum(total_amount) as Green_total_amount
          from trips_data
          where service_type == "green"
          
          group by LocationID, TimeID
          order by LocationID, TimeID
          """)

df_yellow_reveneue = spark.sql("""select  
                             PULocationID as LocationID,
                             date_trunc('day', pickup_datetime) as TimeID,
                             sum(total_amount) as Yellow_total_amount
          from trips_data
          where service_type == "yellow"
          
          group by LocationID, TimeID
          order by LocationID, TimeID
          """)

In [85]:
df_green_reveneu.show(10)

+----------+-------------------+------------------+
|LocationID|             TimeID|Green_total_amount|
+----------+-------------------+------------------+
|         1|2020-01-01 00:00:00|             155.3|
|         1|2020-01-03 00:00:00|            117.39|
|         1|2020-01-26 00:00:00|             85.56|
|         1|2020-01-29 00:00:00|            108.36|
|         1|2020-02-01 00:00:00|            115.56|
|         1|2020-02-06 00:00:00|              98.3|
|         1|2020-02-16 00:00:00|              95.3|
|         1|2020-02-17 00:00:00|              82.3|
|         1|2020-02-26 00:00:00|             49.38|
|         1|2020-03-02 00:00:00|              88.3|
+----------+-------------------+------------------+
only showing top 10 rows

In [86]:
print(df_green_reveneu.count())
print(df_yellow_reveneue.count())

141881

168558

In [92]:
df_green_reveneu.join(df_yellow_reveneue, on=['TimeID','LocationID'], how='left')\
    .sort('LocationID','TimeID').show(10)

+-------------------+----------+------------------+-------------------+
|             TimeID|LocationID|Green_total_amount|Yellow_total_amount|
+-------------------+----------+------------------+-------------------+
|2020-01-01 00:00:00|         1|             155.3| 3723.3400000000015|
|2020-01-03 00:00:00|         1|            117.39|  3352.780000000001|
|2020-01-26 00:00:00|         1|             85.56| 2473.2200000000003|
|2020-01-29 00:00:00|         1|            108.36| 2168.1499999999996|
|2020-02-01 00:00:00|         1|            115.56| 2542.2100000000005|
|2020-02-06 00:00:00|         1|              98.3|            2371.47|
|2020-02-16 00:00:00|         1|              95.3|  2335.019999999999|
|2020-02-17 00:00:00|         1|              82.3|  3023.490000000001|
|2020-02-26 00:00:00|         1|             49.38| 2847.6800000000007|
|2020-03-02 00:00:00|         1|              88.3|            2204.43|
+-------------------+----------+------------------+-------------------+
only showing top 10 rows