In [3]:
import pyspark
from pyspark.sql import SparkSession

1. Para poder trabajar con Spark creamos una Sesión

In [4]:
spark = SparkSession.builder.master("local[*]")\
    .appName('test')\
    .getOrCreate()

your 131072x1 screen size is bogus. expect trouble

24/02/19 19:51:39 WARN Utils: Your hostname, DESKTOP-SLEQT56 resolves to a loopback address: 127.0.1.1; using 172.25.13.138 instead (on interface eth0)
24/02/19 19:51:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/19 19:51:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

2. Usando __BASH__ descargamos un archivo de git para analizar.

```shell
wget url -P directorio_destino
```

In [5]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-01.csv.gz -P ../data/

--2024-02-19 19:53:23--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2019-01.csv.gz
Resolving github.com (github.com)... 20.201.28.151
Connecting to github.com (github.com)|20.201.28.151|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/afb2f0a6-bb8b-4958-9818-834bda641e9e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240219T225324Z&X-Amz-Expires=300&X-Amz-Signature=1f886982814c3af4933849c39898af597df874f82d9a6ede464f25774c36f0a0&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2024-02-19 19:53:24--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/afb2f0a6-bb8b-4958-9818-834bda641e9e?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAVCODYLSA53PQK4ZA%2F20240219%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240219T225324Z&X-Amz-Expires=300&X-Amz-Signature=1f886982814c3af4933849c39898af597df874f82d9a6ede464f25774c36f0a0&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 134445150 (128M) [application/octet-stream]
Saving to: ‘../data/yellow_tripdata_2019-01.csv.gz’

yellow_tripdata_201 100%[===================>] 128.22M  8.88MB/s    in 14s

2024-02-19 19:53:38 (9.25 MB/s) - ‘../data/yellow_tripdata_2019-01.csv.gz’ saved [134445150/134445150]

2.1 Si es un archivo del tipo _.gz_ está comprimido asique debemos descomprimirlo.
Hay varias formas pero la mas común es con __gunzip__
Para mas informacion ver [Como descomprimir en linux](https://www.nexcess.net/help/how-to-decompress-files-in-gzip/#:~:text=A%20GZ%20file%20is%20created,in%20Linux%2FUnix%20operating%20systems.)

In [7]:
!gunzip  ../data/yellow_tripdata_2019-01.csv.gz

### 2. Pre-analisis

2.1 Contamos la cantidad de registros en el archivo que acabamos de descargar usando bash

```shell
wc -l archivo
```

In [8]:
!wc -l ../data/yellow_tripdata_2019-01.csv

7667793 ../data/yellow_tripdata_2019-01.csv

2.2 Guardamos el archivo en un _dataframe_ de Spark con _cabecera_

In [9]:
df = spark.read \
    .option("header","true") \
    .csv("../data/yellow_tripdata_2019-01.csv")

2.3 Analizando los primeros 5 registros vemos que spark por defecto si no se le especifica un __schema__ toma todas las columnas como __Strings__

In [10]:
df.head(5)

[Row(VendorID='1', tpep_pickup_datetime='2019-01-01 00:46:40', tpep_dropoff_datetime='2019-01-01 00:53:20', passenger_count='1', trip_distance='1.50', RatecodeID='1', store_and_fwd_flag='N', PULocationID='151', DOLocationID='239', payment_type='1', fare_amount='7', extra='0.5', mta_tax='0.5', tip_amount='1.65', tolls_amount='0', improvement_surcharge='0.3', total_amount='9.95', congestion_surcharge=None),
 Row(VendorID='1', tpep_pickup_datetime='2019-01-01 00:59:47', tpep_dropoff_datetime='2019-01-01 01:18:59', passenger_count='1', trip_distance='2.60', RatecodeID='1', store_and_fwd_flag='N', PULocationID='239', DOLocationID='246', payment_type='1', fare_amount='14', extra='0.5', mta_tax='0.5', tip_amount='1', tolls_amount='0', improvement_surcharge='0.3', total_amount='16.3', congestion_surcharge=None),
 Row(VendorID='2', tpep_pickup_datetime='2018-12-21 13:48:30', tpep_dropoff_datetime='2018-12-21 13:52:40', passenger_count='3', trip_distance='.00', RatecodeID='1', store_and_fwd_flag='N', PULocationID='236', DOLocationID='236', payment_type='1', fare_amount='4.5', extra='0.5', mta_tax='0.5', tip_amount='0', tolls_amount='0', improvement_surcharge='0.3', total_amount='5.8', congestion_surcharge=None),
 Row(VendorID='2', tpep_pickup_datetime='2018-11-28 15:52:25', tpep_dropoff_datetime='2018-11-28 15:55:45', passenger_count='5', trip_distance='.00', RatecodeID='1', store_and_fwd_flag='N', PULocationID='193', DOLocationID='193', payment_type='2', fare_amount='3.5', extra='0.5', mta_tax='0.5', tip_amount='0', tolls_amount='0', improvement_surcharge='0.3', total_amount='7.55', congestion_surcharge=None),
 Row(VendorID='2', tpep_pickup_datetime='2018-11-28 15:56:57', tpep_dropoff_datetime='2018-11-28 15:58:33', passenger_count='5', trip_distance='.00', RatecodeID='2', store_and_fwd_flag='N', PULocationID='193', DOLocationID='193', payment_type='2', fare_amount='52', extra='0', mta_tax='0.5', tip_amount='0', tolls_amount='0', improvement_surcharge='0.3', total_amount='55.55', congestion_surcharge=None)]

In [13]:
df.printSchema()

root
 |-- VendorID: string (nullable = true)
 |-- tpep_pickup_datetime: string (nullable = true)
 |-- tpep_dropoff_datetime: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- RatecodeID: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: string (nullable = true)
 |-- DOLocationID: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- congestion_surcharge: string (nullable = true)

2.4 Para crear un _schema_ vamos a crear un subset del archivo, con solo 100 registros usando el bash

```shell
head -n 100 archivo > archivo_destino
```

In [14]:
!head -n 101 ../data/yellow_tripdata_2019-01.csv > ../data/head.csv

In [15]:
!wc ../data/head.csv

 101  301 9301 ../data/head.csv

2.5 Usamos Pandas para obtener el nuevo _dataframe_ del que vamos a generar un _schema_.
__IMPORTANTE__ No estamos usando _pandas_ para procesar el archivo original, porque es muy grande. SOlo lo usamos para tener una idea del esquema que nos puede ser útil.

In [16]:
import pandas as pd
pd.__version__

'2.2.0'

_A tener en cuenta_ La nueva version de pandas tiene un error en los iterables.
Cuando creamos un _dataframe_ este no se puede pasar a _spark_.
Para solucionar esto hacemos_

```python
pd.DataFrame.iteritems = pd.DataFrame.items  
```

[Para mas información seguir este link](https://stackoverflow.com/questions/75926636/databricks-issue-while-creating-spark-data-frame-from-pandas)

In [17]:
pd.DataFrame.iteritems = pd.DataFrame.items  #Necesitamos esto porque sino no podemos crear el DF de spark
df_pandas = pd.read_csv('../data/head.csv')
df_pandas.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.5,1,N,151,239,1,7.0,0.5,0.5,1.65,0.0,0.3,9.95,NaN
1,1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.6,1,N,239,246,1,14.0,0.5,0.5,1.00,0.0,0.3,16.30,NaN
2,2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,0.0,1,N,236,236,1,4.5,0.5,0.5,0.00,0.0,0.3,5.80,NaN
3,2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,0.0,1,N,193,193,2,3.5,0.5,0.5,0.00,0.0,0.3,7.55,NaN
4,2,2018-11-28 15:56:57,2018-11-28 15:58:33,5,0.0,2,N,193,193,2,52.0,0.0,0.5,0.00,0.0,0.3,55.55,NaN

2.6 Creamos el _dataframe_ en Spark con el archivo de los 100 registros de ejemplo.

In [18]:
spark.createDataFrame(df_pandas).show(4)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1| 2019-01-01 00:46:40|  2019-01-01 00:53:20|              1|          1.5|         1|                 N|         151|         239|           1|        7.0|  0.5|    0.5|      1.65|         0.0|                  0.3|        9.95|                 NaN|
|       1| 2019-01-01 00:59:47|  2019-01-01 01:18:59|              1|          2.6|         1|                 N|         239|         246|           1|       14.0|  0.5|    0.5|       1.0|         0.0|                  0.3|        16.3|                 NaN|
|       2| 2018-12-21 13:48:30|  2018-12-21 13:52:40|              3|          0.0|         1|                 N|         236|         236|           1|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                 NaN|
|       2| 2018-11-28 15:52:25|  2018-11-28 15:55:45|              5|          0.0|         1|                 N|         193|         193|           2|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        7.55|                 NaN|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 4 rows

2.7 Obtenemos una primera versión del schema del _dataframe_de spark y lo copiamos en __vscode__

In [19]:
spark.createDataFrame(df_pandas).schema

StructType([StructField('VendorID', LongType(), True), StructField('tpep_pickup_datetime', StringType(), True), StructField('tpep_dropoff_datetime', StringType(), True), StructField('passenger_count', LongType(), True), StructField('trip_distance', DoubleType(), True), StructField('RatecodeID', LongType(), True), StructField('store_and_fwd_flag', StringType(), True), StructField('PULocationID', LongType(), True), StructField('DOLocationID', LongType(), True), StructField('payment_type', LongType(), True), StructField('fare_amount', DoubleType(), True), StructField('extra', DoubleType(), True), StructField('mta_tax', DoubleType(), True), StructField('tip_amount', DoubleType(), True), StructField('tolls_amount', DoubleType(), True), StructField('improvement_surcharge', DoubleType(), True), StructField('total_amount', DoubleType(), True), StructField('congestion_surcharge', DoubleType(), True)])

2.8 Importamos la libreria de __types__ de _pyspark.sql_ que tiene los distintos tipos de datos que necesitamos para abrir el archivo

In [20]:
from pyspark.sql import types

In [21]:
schema = types.StructType([
types.StructField('VendorID', types.LongType(), True), 
types.StructField('tpep_pickup_datetime', types.TimestampType(), True), 
types.StructField('tpep_dropoff_datetime', types.TimestampType(), True), 
types.StructField('passenger_count', types.LongType(), True), 
types.StructField('trip_distance', types.DoubleType(), True), 
types.StructField('RatecodeID', types.LongType(), True), 
types.StructField('store_and_fwd_flag', types.StringType(), True), 
types.StructField('PULocationID', types.IntegerType(), True), 
types.StructField('DOLocationID', types.IntegerType(), True), 
types.StructField('payment_type', types.LongType(), True), 
types.StructField('fare_amount', types.DoubleType(), True), 
types.StructField('extra', types.DoubleType(), True), 
types.StructField('mta_tax', types.DoubleType(), True), 
types.StructField('tip_amount', types.DoubleType(), True), 
types.StructField('tolls_amount', types.DoubleType(), True), 
types.StructField('improvement_surcharge', types.DoubleType(), True), 
types.StructField('total_amount', types.DoubleType(), True), 
types.StructField('congestion_surcharge', types.DoubleType(), True)])

2.8 Volvemos a cergar el archivo original pero ahora indicando el _schema_

In [22]:
df = spark.read \
    .schema(schema=schema) \
    .option("header","true") \
    .csv("../data/yellow_tripdata_2019-01.csv")

In [23]:
df.head(5)

[Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2019, 1, 1, 0, 46, 40), tpep_dropoff_datetime=datetime.datetime(2019, 1, 1, 0, 53, 20), passenger_count=1, trip_distance=1.5, RatecodeID=1, store_and_fwd_flag='N', PULocationID=151, DOLocationID=239, payment_type=1, fare_amount=7.0, extra=0.5, mta_tax=0.5, tip_amount=1.65, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=9.95, congestion_surcharge=None),
 Row(VendorID=1, tpep_pickup_datetime=datetime.datetime(2019, 1, 1, 0, 59, 47), tpep_dropoff_datetime=datetime.datetime(2019, 1, 1, 1, 18, 59), passenger_count=1, trip_distance=2.6, RatecodeID=1, store_and_fwd_flag='N', PULocationID=239, DOLocationID=246, payment_type=1, fare_amount=14.0, extra=0.5, mta_tax=0.5, tip_amount=1.0, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=16.3, congestion_surcharge=None),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2018, 12, 21, 13, 48, 30), tpep_dropoff_datetime=datetime.datetime(2018, 12, 21, 13, 52, 40), passenger_count=3, trip_distance=0.0, RatecodeID=1, store_and_fwd_flag='N', PULocationID=236, DOLocationID=236, payment_type=1, fare_amount=4.5, extra=0.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=5.8, congestion_surcharge=None),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2018, 11, 28, 15, 52, 25), tpep_dropoff_datetime=datetime.datetime(2018, 11, 28, 15, 55, 45), passenger_count=5, trip_distance=0.0, RatecodeID=1, store_and_fwd_flag='N', PULocationID=193, DOLocationID=193, payment_type=2, fare_amount=3.5, extra=0.5, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=7.55, congestion_surcharge=None),
 Row(VendorID=2, tpep_pickup_datetime=datetime.datetime(2018, 11, 28, 15, 56, 57), tpep_dropoff_datetime=datetime.datetime(2018, 11, 28, 15, 58, 33), passenger_count=5, trip_distance=0.0, RatecodeID=2, store_and_fwd_flag='N', PULocationID=193, DOLocationID=193, payment_type=2, fare_amount=52.0, extra=0.0, mta_tax=0.5, tip_amount=0.0, tolls_amount=0.0, improvement_surcharge=0.3, total_amount=55.55, congestion_surcharge=None)]

In [24]:
df.show(4)

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
|       1| 2019-01-01 00:46:40|  2019-01-01 00:53:20|              1|          1.5|         1|                 N|         151|         239|           1|        7.0|  0.5|    0.5|      1.65|         0.0|                  0.3|        9.95|                null|
|       1| 2019-01-01 00:59:47|  2019-01-01 01:18:59|              1|          2.6|         1|                 N|         239|         246|           1|       14.0|  0.5|    0.5|       1.0|         0.0|                  0.3|        16.3|                null|
|       2| 2018-12-21 13:48:30|  2018-12-21 13:52:40|              3|          0.0|         1|                 N|         236|         236|           1|        4.5|  0.5|    0.5|       0.0|         0.0|                  0.3|         5.8|                null|
|       2| 2018-11-28 15:52:25|  2018-11-28 15:55:45|              5|          0.0|         1|                 N|         193|         193|           2|        3.5|  0.5|    0.5|       0.0|         0.0|                  0.3|        7.55|                null|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+
only showing top 4 rows

2.8 Finalmente vamos a Guardar el archivo en formato __parquet__

2.8.1 Generamos una repartición del _dataframe_ en n particiones.

In [25]:
df.repartition(5)

DataFrame[VendorID: bigint, tpep_pickup_datetime: timestamp, tpep_dropoff_datetime: timestamp, passenger_count: bigint, trip_distance: double, RatecodeID: bigint, store_and_fwd_flag: string, PULocationID: int, DOLocationID: int, payment_type: bigint, fare_amount: double, extra: double, mta_tax: double, tip_amount: double, tolls_amount: double, improvement_surcharge: double, total_amount: double, congestion_surcharge: double]

2.8.2 Grabamos el _dataframe_ particionado en formato _parquet_ con el nombre que especificamos.

__IMPORTANTE__ _repartition_ es una acción lazzy, lo que quiere decir que no hace nada hastq que se lo indicamos. por ejemplo con _.write()_

In [27]:
df.write.parquet("../data/pq/2021/01/", mode='overwrite')

### Trabajamos con DataFrames

3 Leemos el parquet file que creamos en el paso anterior.
Lo interesante de __parquet__ es que este formato tiene el tipo de datos de las columnas.
Al saber como guarda la data es más óptimo.

In [28]:
df = spark.read.parquet("../data/pq/2021/01")

In [29]:
df.printSchema()

root
 |-- VendorID: long (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [30]:
!head -n 5 ../data/head.csv

VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
1,2019-01-01 00:46:40,2019-01-01 00:53:20,1,1.50,1,N,151,239,1,7,0.5,0.5,1.65,0,0.3,9.95,
1,2019-01-01 00:59:47,2019-01-01 01:18:59,1,2.60,1,N,239,246,1,14,0.5,0.5,1,0,0.3,16.3,
2,2018-12-21 13:48:30,2018-12-21 13:52:40,3,.00,1,N,236,236,1,4.5,0.5,0.5,0,0,0.3,5.8,
2,2018-11-28 15:52:25,2018-11-28 15:55:45,5,.00,1,N,193,193,2,3.5,0.5,0.5,0,0,0.3,7.55,

3.1 Seleccionamos algunas columnas y le agregamos un filtro

In [31]:
df.select('tpep_pickup_datetime','tpep_dropoff_datetime','PULocationID','DOLocationID')\
    .filter(df.VendorID==2).show(5)

+--------------------+---------------------+------------+------------+
|tpep_pickup_datetime|tpep_dropoff_datetime|PULocationID|DOLocationID|
+--------------------+---------------------+------------+------------+
| 2018-12-21 13:48:30|  2018-12-21 13:52:40|         236|         236|
| 2018-11-28 15:52:25|  2018-11-28 15:55:45|         193|         193|
| 2018-11-28 15:56:57|  2018-11-28 15:58:33|         193|         193|
| 2018-11-28 16:25:49|  2018-11-28 16:28:26|         193|         193|
| 2018-11-28 16:29:37|  2018-11-28 16:33:43|         193|         193|
+--------------------+---------------------+------------+------------+
only showing top 5 rows

3.2 Ejemplo de transformacion .withColumn() con funcion de spark.

In [32]:
from pyspark.sql import functions as F

df.withColumn('horarioDePickUp', F.to_date(df.tpep_pickup_datetime))\
    .select('VendorID','tpep_pickup_datetime','passenger_count','horarioDePickUp')\
        .show(5)

+--------+--------------------+---------------+---------------+
|VendorID|tpep_pickup_datetime|passenger_count|horarioDePickUp|
+--------+--------------------+---------------+---------------+
|       1| 2019-01-01 00:46:40|              1|     2019-01-01|
|       1| 2019-01-01 00:59:47|              1|     2019-01-01|
|       2| 2018-12-21 13:48:30|              3|     2018-12-21|
|       2| 2018-11-28 15:52:25|              5|     2018-11-28|
|       2| 2018-11-28 15:56:57|              5|     2018-11-28|
+--------+--------------------+---------------+---------------+
only showing top 5 rows

3.3 Definimos nuestra propia funcion (UDF) para usarla en una acción .withColumn()

In [33]:
from pyspark.sql import types
from pyspark.sql import functions as F

def hace_algo(valor):
    if valor >= 2:
        return 1
    else:
        return 0

In [39]:
from pyspark.sql import functions as F

udf_pass_bool = F.udf(hace_algo, returnType= types.IntegerType())

In [40]:
df.withColumn('passenger_count_boll',udf_pass_bool(df.passenger_count) )\
    .select('VendorID','tpep_pickup_datetime','passenger_count', 'passenger_count_boll')\
        .show(4)

+--------+--------------------+---------------+--------------------+
|VendorID|tpep_pickup_datetime|passenger_count|passenger_count_boll|
+--------+--------------------+---------------+--------------------+
|       1| 2019-01-01 00:46:40|              1|                   0|
|       1| 2019-01-01 00:59:47|              1|                   0|
|       2| 2018-12-21 13:48:30|              3|                   1|
|       2| 2018-11-28 15:52:25|              5|                   1|
+--------+--------------------+---------------+--------------------+
only showing top 4 rows